<body>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <center>
          <h1>
              <font size="8" color="black" face="arial">
                  PROFIL SAYA
              </font>
          </h1>
      </center>
      <br>
      <fieldset>
          <legend>
              <font size="6" color="black" face="calibri">
                  Tentang Saya
              </font>
          </legend>
          <p align="justify">
              Nama Saya Rachmat Ashari, Saya berasal dari Kota Cirebon. Pada saat ini saya berkuliah di kampus Universitas Catur Insan Cendekia pada fakultas Teknologi Informasi dan Jurusan Teknik Informatika yang sudah akan menginjak semester 6. Saya senang sekali bergabung pada kegiatan Studi Independent Bersertifikat karena ini dapat membuka jalan saya dan juga saya bisa mendapatkan teman baru.
          </p>
      </fieldset>
      <br><br>
      <fieldset>
          <legend>
              <font size="6" color="black">
                  <b>Data Diri</b>
              </font>
          </legend>
          <table>
              <tr>
                  <td>Nama Lengkap</td>
                  <td>: </td>
                  <td>Rachmat Ashari</td>
              </tr>
              <tr>
                  <td>Tempat,Tanggal Lahir</td>
                  <td>: </td>
                  <td>Cirebon, 19 Maret 2003</td>
              </tr>
              <tr>
                  <td>Telepon / Whatsapp </td>
                  <td>:</td>
                  <td><a href="https://api.whatsapp.com/send/?phone=%2B6289657130464&text&type=phone_number&app_absent=0" target="_blank">089657130464</a></td>
              </tr>
              <tr>
                  <td>Kampus </td>
                  <td>:</td>
                  <td>Universitas Catur Insan Cendekia</td>
              </tr>
              <tr>
                  <td>Fakultas</td>
                  <td>: </td>
                  <td>Teknologi Informasi</td>
              </tr>
              <tr>
                  <td>Jurusan </td>
                  <td>:</td>
                  <td>Teknik Informatika</td>
              </tr>
              <tr>
                  <td>NIM</td>
                  <td>: </td>
                  <td>20210120030</td>
              </tr>
              <tr>
                  <td>Pendidikan </td>
                  <td>:</td>
                  <td><ol>
                          <li>SDN Kramat 3 Kota Cirebon</li>
                          <li>SMPN 15 Kota Cirebon</li>
                          <li>SMK Informatika Al - Irsyad Al Islamiyyah Kota Cirebon</li>
                          <li>Universitas Catur Insan Cendekia</li>
                  </ol></td>
              </tr>
          </table>
      </fieldset>
      </div>
    </div>
  </div>
</body>
